[submodule "scale"]
	path = scale
	url = https://github.com/matcha-mit/secsep-scale.git
	branch = main
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/matcha-mit/secsep-benchmark.git
	branch = main
[submodule "octal"]
	path = octal
	url = https://github.com/matcha-mit/secsep-octal.git
	branch = main
[submodule "gem5"]
	path = gem5
	url = https://github.com/matcha-mit/secsep-gem5.git
	branch = main
